vti_encoding:SR|utf8-nl
vti_author:SR|Rob Elphinstone
vti_modifiedby:SR|Rob Elphinstone
vti_timecreated:TR|03 May 2005 22:51:05 -0000
vti_timelastmodified:TR|13 May 2005 19:38:40 -0000
vti_extenderversion:SR|4.0.2.2717
vti_nexttolasttimemodified:TR|05 May 2005 16:53:58 -0000
vti_filesize:IR|2417
vti_backlinkinfo:VX|
vti_syncwith_publish.shaw.ca\:80/afghanistanphotography:TR|13 May 2005 19:38:40 -0000
vti_syncwith_publish.shaw.ca\:80/robelphinstone:TR|05 May 2005 16:53:58 -0000
vti_syncwith_localhost\\c\:\\my documents\\my webs\\afghanistanphotography/c\:/my documents/my webs/afghanistanphotography:TR|05 May 2005 16:53:58 -0000
vti_cacheddtm:TX|13 May 2005 19:38:42 -0000
vti_cachedlinkinfo:VX|S|arthsepd.gif S|artbul1d.gif S|artbul2d.gif S|artbul3d.gif S|artnvhnd.gif S|artnvhnd.gif S|artnvhsd.gif S|artnvvnd.gif S|artnvvnd.gif S|artnvvsd.gif S|arthomed.gif S|arthomed.gif S|arthomed.gif S|artnextd.gif S|artnextd.gif S|artnextd.gif S|artprevd.gif S|artprevd.gif S|artprevd.gif S|artupbtd.gif S|artupbtd.gif S|artupbtd.gif S|artbul1d.gif S|artbul2d.gif S|artbul3d.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/afghan-theme/arthsepd.gif FSUS|_themes/afghan-theme/artbul1d.gif FSUS|_themes/afghan-theme/artbul2d.gif FSUS|_themes/afghan-theme/artbul3d.gif FSUS|_themes/afghan-theme/artnvhnd.gif FSUS|_themes/afghan-theme/artnvhnd.gif FSUS|_themes/afghan-theme/artnvhsd.gif FSUS|_themes/afghan-theme/artnvvnd.gif FSUS|_themes/afghan-theme/artnvvnd.gif FSUS|_themes/afghan-theme/artnvvsd.gif FSUS|_themes/afghan-theme/arthomed.gif FSUS|_themes/afghan-theme/arthomed.gif FSUS|_themes/afghan-theme/arthomed.gif FSUS|_themes/afghan-theme/artnextd.gif FSUS|_themes/afghan-theme/artnextd.gif FSUS|_themes/afghan-theme/artnextd.gif FSUS|_themes/afghan-theme/artprevd.gif FSUS|_themes/afghan-theme/artprevd.gif FSUS|_themes/afghan-theme/artprevd.gif FSUS|_themes/afghan-theme/artupbtd.gif FSUS|_themes/afghan-theme/artupbtd.gif FSUS|_themes/afghan-theme/artupbtd.gif FSUS|_themes/afghan-theme/artbul1d.gif FSUS|_themes/afghan-theme/artbul2d.gif FSUS|_themes/afghan-theme/artbul3d.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
