vti_encoding:SR|utf8-nl
vti_author:SR|Rob Elphinstone
vti_modifiedby:SR|Rob Elphinstone
vti_timecreated:TR|03 May 2005 22:51:05 -0000
vti_timelastmodified:TR|13 May 2005 19:38:40 -0000
vti_extenderversion:SR|4.0.2.2717
vti_nexttolasttimemodified:TR|05 May 2005 16:53:58 -0000
vti_filesize:IR|2543
vti_backlinkinfo:VX|
vti_syncwith_publish.shaw.ca\:80/afghanistanphotography:TR|13 May 2005 19:38:40 -0000
vti_syncwith_publish.shaw.ca\:80/robelphinstone:TR|05 May 2005 16:53:58 -0000
vti_syncwith_localhost\\c\:\\my documents\\my webs\\afghanistanphotography/c\:/my documents/my webs/afghanistanphotography:TR|05 May 2005 16:53:58 -0000
vti_cacheddtm:TX|13 May 2005 19:38:42 -0000
vti_cachedlinkinfo:VX|S|arthsepa.gif S|artbul1a.gif S|artbul2a.gif S|artbul3a.gif S|artbanna.gif S|artnvhna.gif S|artnvhha.gif S|artnvhsa.gif S|artnvvna.gif S|artnvvha.gif S|artnvvsa.gif S|arthomna.gif S|arthomha.gif S|arthomsa.gif S|artnexna.gif S|artnexha.gif S|artnexsa.gif S|artprena.gif S|artpreha.gif S|artpresa.gif S|artupbna.gif S|artupbha.gif S|artupbsa.gif S|artbul1a.gif S|artbul2a.gif S|artbul3a.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/afghan-theme/arthsepa.gif FSUS|_themes/afghan-theme/artbul1a.gif FSUS|_themes/afghan-theme/artbul2a.gif FSUS|_themes/afghan-theme/artbul3a.gif FSUS|_themes/afghan-theme/artbanna.gif FSUS|_themes/afghan-theme/artnvhna.gif FSUS|_themes/afghan-theme/artnvhha.gif FSUS|_themes/afghan-theme/artnvhsa.gif FSUS|_themes/afghan-theme/artnvvna.gif FSUS|_themes/afghan-theme/artnvvha.gif FSUS|_themes/afghan-theme/artnvvsa.gif FSUS|_themes/afghan-theme/arthomna.gif FSUS|_themes/afghan-theme/arthomha.gif FSUS|_themes/afghan-theme/arthomsa.gif FSUS|_themes/afghan-theme/artnexna.gif FSUS|_themes/afghan-theme/artnexha.gif FSUS|_themes/afghan-theme/artnexsa.gif FSUS|_themes/afghan-theme/artprena.gif FSUS|_themes/afghan-theme/artpreha.gif FSUS|_themes/afghan-theme/artpresa.gif FSUS|_themes/afghan-theme/artupbna.gif FSUS|_themes/afghan-theme/artupbha.gif FSUS|_themes/afghan-theme/artupbsa.gif FSUS|_themes/afghan-theme/artbul1a.gif FSUS|_themes/afghan-theme/artbul2a.gif FSUS|_themes/afghan-theme/artbul3a.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
