vti_encoding:SR|utf8-nl
http\://support.shaw.ca/webspace/default.htm:home.html
http\://support.shaw.ca/shaw/images/logo.gif:home.html
http\://support.shaw.ca/shaw/images/defaulttitle.gif:home.html
http\://support.shaw.ca/contacts.htm:home.html
http\://support.shaw.ca/shaw/images/webspacewelcome.gif:home.html
http\://support.shaw.ca:home.html
http\://www.shaw.ca:home.html
